rpm --import https://pkg.jenkins.io/redhat-stable/jenkins.io.key
wget -O /etc/yum.repos.d/jenkins.repo https://pkg.jenkins.io/redhat-stable/jenkins.repo
wget -O /etc/yum.repos.d/jenkins.repo https://pkg.jenkins.io/redhat-stable/jenkins.repo
yum repolist
yum install java-1.8.0-openjdk jenkins
systemctl start jenkins
systemctl enable jenkins
systemctl status jenkins
netstat -lntp
cat /var/lib/jenkins/secrets/initialAdminPassword 
